
<html ng-app="myapp"> 
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

       <link rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css">  
	   
	   <style> 
	   input.ng-invalid.ng-touched, .ng-submitted input.ng-invalid{
				border: 1px solid red;
			}
			input.ng-valid.ng-touched{
				border: 1px solid green;
			}

	   
	   </style>
	</head>
	
				<body>
				<div class="container" ng-controller="Actrl">	
				<br>
				<br>
				
				<form name="objForm" novalidate ng-submit="objForm.$valid && submitForm()"  action="mailto:someone@example.com" method="post" enctype="text/plain"> >
				<div class="form-group" >
						<div class="row">
						<div class="col-md-2 col-md-offset-3"> <label><i class="fa fa-user" aria-hidden="true"></i>Name:</label> </div>
						</div>
						<div class="row">
						<div class="col-md-5 col-md-offset-3"> <input type="text" class="form-control" name="name" ng-model="fm.name" pattern="^([A-Z][a-z]*[\s]?)+$" required></div>
	                    </div>
						
						<div class="row">
						<div class="col-md-9 col-md-offset-3">
						<span ng-show="objForm.name.$touched || objForm.$submitted" class="help-message"  ng-messages="objForm.name.$error">
						<span ng-message="required"> Name is required.</span>
						<span ng-message="pattern"> Start with capital letter .</span>
						</span>
						</div>
			     		</div>
				</div>	
				
				
					<div class="form-group">
						<div class="row">
						<div class="col-md-2 col-md-offset-3"> <label><i class="fa fa-envelope" aria-hidden="true"></i> Email:</label> </div>
						</div>
						<div class="row">
						<div class="col-md-5 col-md-offset-3"> <input type="text" class="form-control" name="email" ng-model="fm.email" pattern="^[a-z|0-9]*[@][a-z]*[.][a-z]*$"required> </div>
						</div>
						<div class="row">
						<div class="col-md-9 col-md-offset-3">
						<span ng-show="objForm.email.$touched || objForm.$submitted" class="help-message"  ng-messages="objForm.email.$error">
						<span ng-message="required">Email is required.</span>
						<span ng-message="pattern">Contain @ symbol.</span>
						</span>
						</div>
						</div>
					</div>
					

					<div class="form-group">
						<div class="row">
						<div class="col-md-2 col-md-offset-3"> <label><i class="fa fa-question-circle" aria-hidden="true" ></i> Query:</label> </div>
						</div>
						
						<div class="row">
						<div class="col-md-1 col-md-offset-3">
						<textarea name="query" ng-model="fm.query" style="font-size:30px; width:455px;"> </textarea>
						</div>
					</div>	
					</div>
					
					
					<div class="form-group">
					<div class="row">
					<button class="btn btn-success col-md-1 col-md-offset-5"> SEND </button>
					</div>
					</div>
					</form>
					</div>
					
			
			
<script src="angular_files/angular.min.js"> </script>
<script src="angular_files/angular-route.min.js"> </script>
<script src="angular_files/angularjsmessages.min.js"> </script>
<script src="angular_files/app.js"> </script>			
	</body>	
	
	
</html>					